In [22]:
import pandas as pd
import numpy as np
import ast

In [4]:
train=pd.read_csv("train.csv",usecols=['id','belongs_to_collection','budget','genres','runtime','revenue'])

In [6]:
train.head(5)

,id,belongs_to_collection,budget,genres,runtime,revenue
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",93.0,12314651
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",113.0,95149435
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",105.0,13092000
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",122.0,16000000
4,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",118.0,3923970

In [7]:
train.isna().sum()

id                          0
belongs_to_collection    2396
budget                      0
genres                      7
runtime                     2
revenue                     0
dtype: int64

## Runtime

In [10]:
%%time
#Add 100 to runtime
train['new_runtime']=train['runtime']+100

Wall time: 319 ms

#### Map

In [12]:
%%time
### Using map
train['map_runtime']=train['runtime'].map(lambda x : x+100)

Wall time: 3 ms

In [15]:
sum(~(train['map_runtime']==train['new_runtime'])) #so, both these columns are equal

2

#### Apply

In [18]:
%%time
train['apply_runtime']=train['runtime'].apply(lambda x: x+100)

Wall time: 3 ms

## Genres

In [24]:
%%time
#first clean genres to make them usable i.e. get rid of the ' ' around them
train['clean_genres_map']=train['genres'].map( lambda x: {} if pd.isnull(x) else ast.literal_eval(x))

Wall time: 152 ms

In [25]:
%%time
#first clean genres to make them usable i.e. get rid of the ' ' around them
train['clean_genres_apply']=train['genres'].apply( lambda x: {} if pd.isnull(x) else ast.literal_eval(x))

Wall time: 214 ms

In [28]:
sum(~(train['clean_genres_map']==train['clean_genres_apply'])) #they are all equal

0

In [32]:
%%time
train['genres_map']=train['clean_genres_map'].map(lambda x: [i['name'] for i in x] if x!={} else [])

Wall time: 9.99 ms

In [33]:
%%time
train['genres_apply']=train['clean_genres_map'].apply(lambda x: [i['name'] for i in x] if x!={} else [])

Wall time: 11 ms

### Map is quite fast compared to apply